<section class="abschnitte">
  {% for abschnitt in include.abschnitte %}
    <div class="abschnitt {{abschnitt.abschnitt_template}} {% unless abschnitt.image %}abschnitt--noimage{% endunless %}">
      <article>

        {% if abschnitt.titel %}
          <h2 class="abschnitt__header" id="{{abschnitt.titel | slugify}}">{{abschnitt.titel}}</h2>
        {% endif %}

        {% if abschnitt.abschnitt_template == "grafik_volle_breite" %}
          <div class="abschnitt__img--tag">
            <img src="{{abschnitt.image}}" alt="{{abschnitt.titel}} Grafik">
          </div>
        {% elsif abschnitt.image %}
          <div class="abschnitt__img" style="background-image: url('{{abschnitt.image}}')"></div>
        {% endif %}

        {% if abschnitt.text_markdown %}
          <div class="abschnitt__text">
            <div>{{abschnitt.text_markdown | markdownify}}</div>

            {% if abschnitt.cta %}
              <a class="abschnitt__cta button" href="#kontakt">Kostenlos Gespräch vereinbaren</a>
            {% endif %}
          </div>
        {% endif %}

      </article>
    </div>
  {% endfor %}
</section>