<section id="referenzen" class="referenzen h-container">
  <div class="referenzen__ratings">
    <a href="https://www.anwalt.de/advoadvice/anwaelte" target="_blank" rel="noreferrer"><img alt="5.0 Durchschnittsbewertung auf anwalt.de" class="editable" src="/uploads/bewertung-anwalt-de-1.png" width="448" /></a>
    <a href="https://goo.gl/maps/Dxit8CGpcwjY8y3f8" target="_blank" rel="noreferrer"><img alt="5.0 Durchschnittsbewertung auf Google" class="editable" src="/uploads/bewertung-google-1.png" srcset="/uploads/bewertung-google-1.png 611w, /uploads/bewertung-google-1@2x.png 1222w" width="611" /></a>
  </div>
  <div class="referenzen__news">
    {% for logo in site.data.presse_logos limit: 6 %}
      <a href="{{logo.link | prepend: site.url }}"><img src="{{logo.logo_path | prepend: site.url }}" alt="{{logo.logo_seo_text}}" /></a>
    {% endfor %}
  </div>
</section>
