# Site & Meta Details (Fallback)
title: AdvoAdvice Rechtsanwälte mbB - Rechtsberatung online und deutschlandweit
title_short: AdvoAdvice
description: Kompetente Rechtsberatung von erfahrenen Rechtsanwälten und Fachanwälten für Ihren Erfolg
keywords: AdvoAdvice, Rechtsanwälte, Berlin, Partnerschaft, Rechtsberatung, Tintemann, Klevenhagen, Bankrecht, Kapitalmarktrecht, Datenschutz, Verbraucherschutz, Schufa-Recht, Immobilienrecht, Kreditrecht
logo: /uploads/0-layout/logo-compact.png
color: '#244c5a'

lang: de_DE
email: info@advoadvice.com
url: "https://advoadvice.de" # the base hostname & protocol for your site
baseurl: "" # the subpath of your site, e.g. /blog

# Collection Settings
collections:
  authors:
    output: false
    _hide_content: true
  topics:
    output: true
    _hide_content: true
    permalink: /themen/:path/
  posts:
    permalink: /blog/:title/

# Defaults
defaults:
  - scope:
      path: ''
      # type: ''
    values:
      _options:
        layout:
          hidden: true
        style_id:
          hidden: true
        sitemap: 
          hidden: true
      _comments:
        title: Der Titel ist wichtig für SEO, sollte für jede Seite anders und 40 - 65 Zeichen lang sein.
        description: Die kurze Beschreibung ist wichtig für SEO und ist idealerweise 100 - 156 Zeichen lang. 
        presse_logos: Nur die ersten 6 Logos werden tatsächlich angezeigt. Jedes Logo sollte ein Link zum Artikel und ein kurzen Text zum Bild haben.
        redirect_from: Für SEO. Hier können URLs eingegeben werden, von (!) denen zu dieser Seite weitergeleitet werden sollen.
        redirect_to: Wenn diese Seite nicht erreichbar sein soll und woanders hin weiterleiten sollte, kann die Weiterleitungs-URL hier eingefügt werden.
        feature_bild_path: Dieses Bild ist optional. Es wird beim Artikel ganz oben groß dargestellt. Also sollte es als großes Bild idealerweise funktionieren.
      
# CloudCannon
abschnitt_templates:
  - weiss_bild_links
  - banner_bild_rechts
  - box_hell
  - box_dunkel
  - grafik_volle_breite

# Build settings
markdown: kramdown
sass:
  sass_dir: _sass
  style: compressed
include:
  - _redirects # Netlify Redirects
exclude:
  - Gemfile
  - Gemfile.lock
  - siteicon.png
  # Temporary excludions
  - _topics/lettland-insolvenz.md


# Plugin Settings
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-autoprefixer
  - jekyll-redirect-from
  # - jekyll-compress-images # activate periodically to compress all images
  # - jekyll/tagging
  # - jekyll-tagging-related_posts

  # Custom plugins in _plugins folder are: 
  # - related_with_tags: filter used to display 3 posts related to the given one
  # - related_with_topics: filter used to display 3 posts related to the given one
  # - strip_fill_words: remove words not relevant for search from the text to reduce file size

paginate: 12
paginate_path: "/blog/page-:num/"
seo_paginator_message: "Blog Seite %{current} von %{total} | "

autoprefixer:
  browsers:
    - "last 2 versions"
    - "IE > 9"
# compress_images:
#   images_path: "uploads/**/*.{gif,png,jpg,jpeg,svg}"
# imageoptim:
#   svgo: false
#   verbose: false