---
layout: default
---

<header style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('{{page.header_image}}')">
  <div class="h-container">
    <h1>{{page.header_titel}}</h1>
  </div>
</header>

<main>
  <div class="h-container">
    <nav>
      <ul>
        {% for abschnitt in page.abschnitte %}
          {% if abschnitt.titel %}
            <li><a href="#{{abschnitt.titel | slugify}}">{{abschnitt.titel}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>

  {% assign erfolge_size = page.erfolge | size %}
  {% if erfolge_size > 0 %}
    <section class="erfolge h-container">
      <p class="h6">Erfolge</p>

      <div class="erfolge__boxen">
        {% for erfolg in page.erfolge %}
          <div>
            <span class="h1">{{erfolg.zahl}}</span>
            <br>
            <span>{{erfolg.text}}</span>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}

  <section class="intro h-container">
    {% if page.intro_titel %}
      <p class="h5">{{page.intro_titel}}</p>
    {% endif %}
    {% if page.intro_text_markdown %}
      <div>{{page.intro_text_markdown | markdownify}}</div>
    {% endif %}

    {% if page.intro_link %}
      <a class="button button--cta" href="{{page.intro_link}}">{{page.intro_link_text}}</a>
    {% endif %}
  </section>

  {% include abschnitte.html abschnitte=page.abschnitte %}

  {% capture topic_path %}{{page.path | replace: '.md', '' | replace: '_topics/', ''}}{% endcapture %}
  {% assign topic_posts = site.posts | where_exp:"post", "post.topics contains topic_path" %}
  {% assign topic_posts_size = topic_posts | size %}

  {% if topic_posts_size > 0 %}
    <section class="h-container">
      <h2 class="h-center h6 editable">Artikel zum Thema</h2>

      <div class="articles">
        {% for article in topic_posts limit: 3 %}
          {% include article.html article=article %}
        {% endfor %}
      </div>
    </section>
  {% endif %}

  <!-- <section style="display: none">
    <h2>Formulare zum Thema</h2>
  </section> -->
</main>