<div class="articles">
  {% for article in include.articles %}
    <article style="background-image: url('{{ article.feature_bild_path }}')">
      <a href="{{ article.url | prepend: site.baseurl }}">
        <h3>{{article.title}}</h3>

        <p>
          {% if article.description %}
            {{article.description | strip_html | truncatewords: 40}}
          {% else %}
            {{article.content | strip_html | truncatewords: 40}}
          {% endif %}
        </p>

        <div>
          {% for topic in article.topics %}
            <small>{{topic}}</small>
            {% unless forloop.last %}
              <span>&nbsp;&#183&nbsp;</span>
            {% endunless %}
          {% endfor %}
        </div>
      </a>
    </article>
  {% endfor %}
</div>