<footer class="second-bg">
  <section id="kontakt" class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="editable"><strong>Kostenlos</strong> und <strong>unverbindlich</strong> Termin zur telefonischen Ersteinsch&auml;tzung vereinbaren!</h3>
        {% include kontakt.html %}
      </div><!-- /col -->

      <div class="col-sm-6">
        <h3 class="editable">Kontakt</h3>
        <p class="editable">
          Telefon: 030 - 921 000 40 <br />
          Telefax: 030 - 921 000 410 <br />
          E-Mail: info@advoadvice.de
        </p>
        <h3 class="editable">Anschrift</h3>
        <p class="editable">Malteser Str. 172<br />12277 Berlin</p>
        <h3 class="editable">Sprechzeiten</h3>
        <p class="editable">
          Mo-Fr 9-17.30 Uhr<br />
          Termine nach Vereinbarung
        </p>
      </div><!-- /col -->
    </div><!-- /row -->
  </section>

  <section class="lastfooter padding-20 text-right">
    <a href="/impressum" class="margin-20 editable">Impressum</a>
  </section>
</footer>
