<!-- JavaScript -->
<script>
  // Clear Cookies set before GA cookies were deactivated
  function clearAllCookies(){
    if(localStorage.cookiesReset != 'v1'){
      (function () {
        var cookies = document.cookie.split("; ");
        for (var c = 0; c < cookies.length; c++) {
          var d = window.location.hostname.split(".");
          while (d.length > 0) {
            var cookieBase = encodeURIComponent(cookies[c].split(";")[0].split("=")[0]) + '=; expires=Thu, 01-Jan-1970 00:00:01 GMT; domain=' + d.join('.') + ' ;path=';
            var p = location.pathname.split('/');
            document.cookie = cookieBase + '/';
            while (p.length > 0) {
              document.cookie = cookieBase + p.join('/');
              p.pop();
            };
            d.shift();
          }
        }
      })();
      localStorage.cookiesReset = 'v1'
    }
  }
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoad&render=explicit"
    async defer>
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-77131734-1', {
      'storage': 'none',
      storeGac: false
  });
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');
</script>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>
  function onRecaptchaLoad() { console.log('recaptcha loaded') }

  var $cookieCheckbox = document.getElementById('cookie_check')
  $cookieCheckbox.addEventListener("change", activateRecaptcha, false)

  function activateRecaptcha(){
    if($cookieCheckbox.checked){
      
      captchaContainer = grecaptcha.render('captcha_container', {
        'sitekey' : '6Ldi5ikTAAAAABHxVmt2EX-spF7lDD1ZEi_qU7tn',
        'callback' : function(response) { $(".send-form").removeClass("hidden") },
        'expired-callback' : function(response) { $(".send-form").addClass("hidden")  }
      })
      // onRecaptchaLoad()
    }else{ //unchecked
      clearAllCookies()
    } // unckeck
  }
</script>

<script src="{{ '/assets/js/plugins/elasticlunr.js' | relative_url }}"></script>
<script src="{{ '/assets/js/plugins/scrollMagic.js' | relative_url }}"></script>
<script src="{{ '/assets/js/polyfills.js' | relative_url }}"></script>

<script src="{{ '/assets/js/layout.js' | relative_url }}"></script>
<script src="{{ '/assets/js/cookies.js' | relative_url }}"></script>
<script src="{{ '/assets/js/search.js' | relative_url }}"></script>

<script src="{{ '/assets/js/schufaTool.js' | relative_url }}"></script>
<script src="{{ '/assets/js/kreditewiderrufen.js' | relative_url }}"></script>
<script src="{{ '/assets/js/landing.js' | relative_url }}"></script>

<script src="{{ '/assets/js/main.js' | relative_url }}"></script>

