<form name="kontakt" method="post" action="/danke">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Vor- und Nachname*" name="Name" value="" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Telefonnummer" name="Telefonnummer" value="">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Adresse*" name="email" value="" required>
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Ihre Nachricht*" rows="4" name="Nachricht" required></textarea>
  </div>

  <input type="hidden" name="_subject" value="Webseite Kontaktformular">
  <input type="hidden" name="_to" value="info@advoadvice.de,mail@samuelboguslawski.com">
  <input type="text" name="_gotcha" style="display: none;">

  <label for="gdpr_check">
    <input type="checkbox" name="gdpr_check" id="gdpr_check" required>
    <small>&nbsp;&nbsp;Mit der Nutzung dieses Formulars erklären Sie sich mit der Speicherung und Verarbeitung Ihrer Daten durch diese Webseite und der Weiterleitung an den Servicedienstleister CloudCannon einverstanden.</small>
  </label>
  <script>
    function enableSubmit(){ $(".send-form").removeClass("hidden") }
    function disableSubmit(){ $(".send-form").addClass("hidden") }
  </script>
  <div class="g-recaptcha" data-sitekey="6Ldi5ikTAAAAABHxVmt2EX-spF7lDD1ZEi_qU7tn" data-callback="enableSubmit" data-expired-callback="disableSubmit"></div>
  <input type="submit" class="send-form btn btn-default hidden" value="Abschicken">
</form>
