<form name="kontakt" method="post" action="/danke" netlify-honeypot="bot-field" netlify>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Vor- und Nachname*" name="Name" value="" required>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Telefonnummer" name="Telefonnummer" value="">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" placeholder="Email Adresse*" name="email" value="" required>
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="Ihre Nachricht*" rows="4" name="Nachricht" required></textarea>
  </div>
  <input type="submit" class="send-form btn btn-default hidden" value="Abschicken">
</form>
