<section class="col-md-4 col-lg-3">

  <!-- SEARCH -->
  {% unless page.path contains "_topics" %}
    <!--  Show only on blog -->
    <div class="margin-tb-20">
      <input type="text" id="search_input" class="form-control" placeholder="Suche" />
    </div><!-- search -->
  {% endunless %}

  <!-- WIE GEHTS WEITER -->
  <div class="second-bg margin-tb-20 padding-20">
    <h2 class="editable">Wie geht's weiter?</h2>
    <p class="text-center editable">Nehmen Sie kompetente Rechtsberatung in Anspruch, der Sie vertrauen können!</p>
    <p class="text-center">
      <a href="#kontakt" class="a-scroll cta editable">Rückruftermin vereinbaren</a>
    </p>
  </div><!-- second-bg -->

  <!-- ARTIKEL ZUM THEMA -->
  {% if page.path contains "_topics" %}
    <!--  Show only on on Topic page -->
    {% capture topic_path %}{{page.path | replace: '.md', '' | replace: '_topics/', ''}}{% endcapture %}
    {% assign topic_posts = site.posts | where_exp:"post", "post.topics contains topic_path" %}

    {% if topic_posts.size >= 1 %}
      <div class="margin-tb-20">
        <h3 class="editable">Artikel zum Thema</h3>

        {% for related_post in topic_posts limit: 6 %}
          <div class="blog-post">
            <h5>
              <a href="{{ related_post.url }}">
                {{ related_post.title }}
              </a>
            </h5>
          </div><!-- // blog-post -->
        {% endfor %}
      </div>
    {% endif %}
  {% endif %}

  <!-- IN DEN MEDIEN -->
  <div class="margin-tb-20">
    <h3 class="editable">Unsere Experten in den Medien</h3>

    {% assign medien_posts = site.posts | where_exp:"post", "post.topics contains 'medien'" %}
    {% for medien_post in medien_posts limit: 6 %}
      <a href="{{ medien_post.url }}" class="medien-block">
        {% if medien_post.feature_bild_path.size >= 1 %}
          <div>
            <img src="{{medien_post.feature_bild_path}}" />
          </div>
        {% endif %}
        <h5>{{ medien_post.title }}</h5>
      </a><!-- // blog-post -->
    {% endfor %}
  </div>
</section>
