<section class="col-md-4 col-lg-3">
  <div class="margin-tb-20">
    <input type="text" id="search_input" class="form-control" placeholder="Suche" />
  </div><!-- search -->

  <div class="second-bg margin-tb-20 padding-20">
    <h2 class="editable">Wie geht's weiter?</h2>
    <p class="text-center editable">Nehmen Sie kompetente Rechtsberatung in Anspruch, der Sie vertrauen können!</p>
    <p class="text-center">
      <a href="#kontakt" class="a-scroll cta editable">Rückruftermin vereinbaren</a>
    </p>
  </div><!-- second-bg -->
</section>
