<section class="col-md-4 col-lg-3">

  <!--  TODO REMOVE this on category page -->

  <div class="margin-tb-20">
    <input type="text" id="search_input" class="form-control" placeholder="Suche" />
  </div><!-- search -->

  <div class="margin-tb-20">
    <h2 class="editable">Kategorien</h2>
    <ul>
      <li><a href="/blog/thema/schufa">Schufa</a></li>
      <li><a href="/blog/thema/versicherungsrecht">Versicherungsrecht</a></li>
      <li><a href="/blog/thema/insolvenzrecht">Insolvenzrecht</a></li>
      <li><a href="/blog/thema/experten-in-den-medien">Experten in den Medien</a></li>
      <li><a href="/blog/thema/anlegerschutz">Anlegerschutz</a></li>
      <li><a href="/blog/thema/widerruf">Widerruf</a></li>
      <li><a href="/blog/thema/sonstiges">Sonstiges</a></li>
    </ul>
  </div><!-- search -->

  <div class="second-bg margin-tb-20 padding-20">
    <h2 class="editable">Wie geht's weiter?</h2>
    <p class="text-center editable">Nehmen Sie kompetente Rechtsberatung in Anspruch, der Sie vertrauen können!</p>
    <p class="text-center">
      <a href="#kontakt" class="a-scroll cta editable">Rückruftermin vereinbaren</a>
    </p>
  </div><!-- second-bg -->
</section>
