/*
- Header
- Artikel
*/

.page__blog {
  // Header
  &>header {
    text-align: center;
  }
  .suche {
    margin: auto; 
    width: 100%;
    max-width: 300px;
  }
  .suche__suggestions {
    margin-top: 10px;
    font-size: .8rem;
  }

  // Artikel
  main {
    margin-top: 60px;
  }

  .blog__h {
    text-align: center;

    margin-bottom: 40px;
  }

  article {
    background-size: cover;
    background-position: center;

    margin-top: 20px;
    margin-bottom: 20px;

    h3 { font-weight: 700; }

    a {
      border-bottom: 1px solid $clr-transparent-bl-3;
      
      background-color: $clr-transparent-wh-7;
      display: block;
      height: 100%;
      width: 100%;

      padding: 20px;

      color: $clr-text;
      text-decoration: none;

      transition: all $transition-time-1;
      &:hover {
        border-color: transparent;
        box-shadow: $shadow;
      }
    }
  }

  @media(min-width: $media-md){
    .articles {
      display: flex;
      flex-wrap: wrap;
    }

    article {
      margin: 20px;
      flex: 1 0 40%;

      a {
        border: none;
      }
    }
  }
  @media(min-width: $media-lg){
    article {
      flex: 1 0 25%;
    }
  }

  .pager {
    list-style: none;
    padding: 0;

    text-align: center;

    li { display: inline-block; }

    a {
      padding: 10px;
      font-size: .8rem;
    }
  }
}