.page__schufa_tool {
  h1 {
    font-size: 2rem;
  }
}


// PROGRESS BUTTONS
.schufaTool__progressButtons {
  margin-top: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schufaTool__progressBtn {
  padding: 10px 20px;
  width: 135px;
  text-align: center;
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
    background-color: transparent;
    color: #eee;

    &:hover {
      background-color: transparent;
    }
  }
}
.schufaTool__progress--prev {
  background-color: #C0EBFF;

  &:hover { background-color: #DEEBFF; }
}
.schufaTool__progress--next {
  background-color: #244c5a;
  color: white;

  &:hover { background-color: #7ba7bc; }
}

.schufaTool__progressLinks {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  color: #aaa;

  @media(max-width: 480px){
    font-size: 0.5em;
  }
}
.schufaTool__progressLine {
  height: 2px;
  width: 20px;
  margin: 0 10px;
  background-color: #ccc;
  color: #ccc;
  @media(max-width: 480px){
    margin: 0 5px;
  }
}

// SLIDE 0: CATEGORY SELECTOR
.schufaTool__categories {
  display: flex;
  flex-wrap: wrap;
}
.schufaTool__categoryBtn {
  flex: 1 0 30%;
  margin: 8px;

  height: 150px;
  min-width: 200px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  cursor: pointer;
  background-color: #C0EBFF;
  &.active {
    border: 4px solid #244c5a;
  }
  &:hover {
    background-color: #DEEBFF;
    box-shadow: 0 0 10px #ccc;
  }

  img {
    max-width: 120px;
  }
}


// FORMs

.schufaTool__form {
  .form-group {
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0;
    max-width: 640px;
  }
  .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #ccc;
    box-shadow: none;
    &:focus { box-shadow: none; }
  }
}
.schufaTool__form__radio {
  label { margin: 5px 10px; }
}

.schufaTool__finalForm {
  display: none;
}