/*
- 
*/

.page__post {
  // Header

  // Content
  .post__content {
    img {
      margin: auto;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }


  // Footer


  // Weitere Artikel

}