/*
- Header

*/

.page__topic {
  // Header
  header {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    color: $clr-bg;

    display: flex;
    align-items: center;
  }

  nav {
    background-color: $clr-bg;

    display: inline-block;
    margin-top: -80px;

    box-shadow: $shadow;
    // padding: 20px 40px; 

    ul {
      list-style: none;
      padding: 0;
    }

    a {
      padding: 5px 40px;
      display: block;
      
      transition: background-color $transition-time-1;
      &:hover {
        background-color: $clr-transparent-bl-1;
      }
    }
  }

  .erfolge {
    text-align: center;
    margin-top: 40px;
  }
  @media(min-width: $media-sm){
    .erfolge { margin-top: 0; }
    .erfolge__boxen {
      display: flex;
  
      &>* { flex: 1; }
    }
  }

  .intro {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  .abschnitte {

    // Styles of all boxes: 

    .abschnitt { clear: both; }
    article {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 40px;

      padding-left: $spacing-1;
      padding-right: $spacing-1;
    }
    .abschnitt__header {
      margin: 0;
    }
    .abschnitt__img {
      background-size: cover;
      background-position: center;
    }
    .abschnitt__cta {
      display: inline-block;
    }
    .abschnitt__text {
      padding-bottom: 40px;
    }

    // Custom styles
    .weiss_bild_links {
      article {
        max-width: $max-width--md;

        @media(min-width: $media-md){
          display: flex;
          flex-wrap: wrap;
        }
      }

      .abschnitt__img {
        width: 300px;
        max-width: 100%;
        height: 200px;
        margin: 20px auto;

        @media(min-width: $media-sm){
          width: 500px;
          height: 350px;
        }
        @media(min-width: $media-md){
          width: 400px;
          height: 300px;
          margin-right: 40px;

          position: sticky;
          top: 83px;
        }
      }
      .abschnitt__header {
        flex-basis: 100%;

        padding-top: 20px;
        @media(min-width: $media-md){
          padding-top: 0;
          padding-bottom: 20px;
        }
      }
      .abschnitt__text {
        flex: 1;
      }
    }


    .banner_bild_rechts {
      background-color: $clr-secondary;
      padding-top: 20px;
      padding-bottom: 1px;

      article {
        max-width: $max-width;

        @media(min-width: $media-md){
          display: grid;
          grid-template-rows: auto 1fr auto;
          grid-template-columns: 2fr 1fr;
          grid-template-areas: 
            "header image"
            "text image"
            "text space";
        }
        @media(min-width: $media-lg){
          grid-template-columns: 3fr 1fr;
        }
      }

      .abschnitt__header { grid-area: header; }
      .abschnitt__text { grid-area: text; }
      .abschnitt__img {
        grid-area: image;
        justify-self: end;

        width: 300px;
        max-width: 100%;
        height: 200px;
        margin: 20px auto;

        @media(min-width: $media-sm){
          width: 500px;
          height: 350px;
        }
        @media(min-width: $media-md){
          width: 400px;
          height: 300px;
          margin-left: 40px;
        }
      }
    }


    .box_hell,
    .box_dunkel {
      article {
        padding-left: 0;
        padding-right: 0;

        max-width: 300px;
        @media(min-width: $media-sm){ max-width: 580px; }
        @media(min-width: $media-md){ 
          max-width: $max-width--sm; 

          display: grid;
          grid-template-rows: auto auto;
        }
      }

      .abschnitt__header { 
        grid-area: header; 
        padding: 40px 20px 0;
        @media(min-width: $media-sm){ padding: 40px 40px 0; }
      }
      .abschnitt__img {
        grid-area: image;
        display: none;

        @media(min-width: $media-md){
          display: block;
        }
      }
      .abschnitt__text {
        grid-area: text;
        padding: 0 20px 40px;
        @media(min-width: $media-sm){ padding: 0 40px 40px; }
      }
    }

    .box_hell {
      article {
        background-color: $clr-transparent-bl-1;

        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
          "image header"
          "image text";
      }
    }
    .box_dunkel {
      article {
        background-color: $clr-primary;
        color: $clr-bg;

        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
          "header image"
          "text image";
      }

      .abschnitt__cta {
        border-color: $clr-bg;
        color: $clr-bg;
      }

      a { color: $clr-secondary; }
    }
    .abschnitt--noimage.box_dunkel article,
    .abschnitt--noimage.box_hell article {
      grid-template-columns: auto;
      grid-template-areas: 
        "header"
        "text";
    }

  }
}