/*
- Header

*/

.page__topic {
  // Header
  header {
    height: 400px;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    color: $clr-bg;

    display: flex;
    align-items: center;
  }

  nav {
    background-color: $clr-bg;

    display: inline-block;
    margin-top: -80px;

    box-shadow: $shadow;
    padding: 20px 40px; 

    ul {
      list-style: none;
      padding: 0;
    }
  }

  .erfolge {
    text-align: center;
    margin-top: 40px;
  }
  @media(min-width: $media-sm){
    .erfolge { margin-top: 0; }
    .erfolge__boxen {
      display: flex;
  
      &>* { flex: 1; }
    }
  }

  .intro {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }

  .abschnitte {
    article {
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
      margin-bottom: 40px;

      padding-left: $spacing-1;
      padding-right: $spacing-1;
    }
    .abschnitt__img {
      background-size: cover;
      background-position: center;
    }
    .abschnitt__cta {
      display: inline-block;
    }
    .abschnitt__text {
      padding-bottom: 40px;
    }

    .weiss_bild_links {}

    .weiss_bild_rechts {}

    .banner {
      background-color: $clr-secondary;
    }

    .banner_hintergrund_bild {}

    .box_hell,
    .box_dunkel {
      article {
        padding-left: 0;
        padding-right: 0;

        display: flex;
        align-items: stretch;

        max-width: 300px;
        @media(min-width: $media-sm){ max-width: 580px; }
        @media(min-width: $media-md){ max-width: $max-width--sm; }
      }

      .abschnitt__img {
        display: none;

        @media(min-width: $media-md){
          display: block;
          width: 250px;

          flex-shrink: 0;
        }
      }
      .abschnitt__text {
        flex: 1;
        padding: 0 20px 40px;
        @media(min-width: $media-sm){ padding: 0 40px 40px; }
      }
    }

    .box_hell {
      article {
        background-color: $clr-transparent-bl-1;
        flex-direction: row-reverse;
      }
    }
    .box_dunkel {
      article {
        background-color: $clr-primary;
        flex-direction: row;
        color: $clr-bg;
      }

      .abschnitt__cta {
        border-color: $clr-bg;
        color: $clr-bg;
      }
    }
  }
}