---
layout: html_head_body
style_id: home
sitemap: false
title: 'Rechtsanwalt Dr. Tintemann: Schufa-Recht Experte'
description: >-
  Rechtsanwalt Dr. Sven Tintemann bekämpft Schufa Einträge, hilft bei Insolvenz
  oder Überschuldung und streitet mit Banken und Versicherern.
canonical_url: 'http://tintemann.de'
hauptthemen:
  - titel: Schufa-Einträge löschen
    beschreibung: >-
      Bekommen Sie evtl keinen Kredit oder die Wohnung, die Sie sich wünschen?
      Mit meinem erfahrenen Team haben wir bereits mehr als 200 Klagen gegen die
      Schufa geführt. Verbessern Sie Ihren Score mit unserer Hilfe.
    topic: schufa-und-datenschutz
    icon_path: /assets/icons/icon-schufa.svg
  - titel: Insolvenz in Lettland
    beschreibung: >-
      Verkürzen Sie ihre Privatinsolvenz. Gemeinsam mit unseren Partnern in
      Lettland kommen Sie deutlich schneller zu einer Restschuldbefreieung als
      mit herkömmlichen Verfahren.
    topic: insolvenz
    icon_path: /assets/icons/icon-insolvenz.svg
  - titel: Bank- und Kapitalmarktrecht
    beschreibung: >-
      Bei Falschberatung oder Verlust von Geldanlagen helfe ich Ihnen gerne
      weiter.
    topic: bank-und-kapitalmarkt
    icon_path: /assets/icons/icon-bank.svg
ablauf:
  - >-
    Als Erstes treten Sie mit uns [telefonisch](tel:+493092100040) oder per
    [email](mailto:info@advoadvice.de) in Kontakt und schildern uns Ihr
    Anliegen.
  - >-
    Wir nehmen kostenlos und unverbindlich meist telefonisch Kontakt mit Ihnen
    auf, um Ihren Fall zu besprechen.
  - >-
    Nach dem Erstgespräch senden Sie uns Dokumente und [Formulare](#formulare)
    zu Ihrem Fall zu, sodass wir uns ein detailiertes Bild machen können.
  - >-
    Wir schicken Ihnen ein Angebot und Vorschlag zum weiteren Vorgehen. Wenn Sie
    eine Rechtschutzversicherung haben, stellen wir eine Deckungsanfrage.
    Andernfalls senden wir Ihnen Informationen zu den Rechtsanwaltsgebühren zu.
  - >-
    Wenn Sie mit unserem Vorgehen einverstanden sind, erteilen Sie uns einen
    konkreten Auftrag durch das Übersenden unserer Mandatsunterlagen.
  - >-
    Nach Eingang der Mandatsunterlagen bei uns, legen wir eine Akte an und
    bearbeiten Ihren Fall.
---

<nav class="page__nav">
  <div class="nav__wrapper">
    <div class="nav__logo">
      <a href="{{site.url}}#">
        <img src="{{ '/uploads/0-layout/logo-subtitled.png' | prepend: site.url }}" alt="AdvoAdvice - Logo mit Text" />
      </a>
    </div>
    <div class="nav__spacer">
      <button class="hamburger hamburger--spring" type="button" aria-label="Open Main Naviagion" aria-hidden="true">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="nav__menu">
      <ul>
        <li><a href="#themen">Schwerpunkte</a></li>
        <li><a href="#ablauf">Wie es abläuft</a></li>
        <li><a href="#kontakt"><strong>Kontakt</strong></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="page__nav__spacer"></div>

<!-- MAIN -->
<div class="page page__{{page.style_id}}">

  <header class="h-container--md">
    <div class="header__text">
      <h1 class="editable">Ihr Anwalt im Kampf gegen die Schufa</h1>
      <h3 class="editable">Oder um schnell aus der Privatinsolvenz zu kommen.</h3>
      <a class="header__cta button button--cta editable" href="#kontakt--1">Gespräch vereinbaren</a>
    </div>
    <div class="header__image">
      <img src="{{ '/uploads/1-layout-standalone/tintemann-min-1.jpg' | prepend: site.url }}" alt="Schufa Anwalt Tintemann" class="editable" />
    </div>
  </header>

  <main>
    {% include referenzen.html %}
  
    <section id="themen" class="themen h-container">
      <p class="themen__title h6 editable">Schwerpunkte</p>
  
      <div class="themen__haupt">
        {% for thema in page.hauptthemen %}
          <a href="{{site.url}}/themen/{{thema.topic}}/" class="themen__block">
            <img src="{{thema.icon_path | prepend: site.url }}" alt="{{thema.titel}} Symbol">
            <h2 class="h4">{{thema.titel}}</h2 class="h4">
            <p>{{thema.beschreibung}}</p>
          </a>
        {% endfor %}
      </div>

      <br><br>
    </section>
  
    <section class="kontakt--1">
      <div id="kontakt--1" class="kontakt__container h-container--md">
        <img class="kontakt__portrait editable" src="{{site.url}}/uploads/0-layout/kontakt-tintemann.png" alt="Dr. Sven Tintemann - Kleines Portrait">
        <p class="h4 editable">Kontaktieren Sie mich noch jetzt!</p>
        <p class="kontakt__text--2 editable">Gerne melden wir uns bei Ihnen <strong>kostenlos und unverbindlich</strong> telefonisch oder per email für ein erstes Gespräch.</p>
        
        
        {% include kontakt_formular.html id="1" %}
      </div>
    </section>

    <section class="h-container--sm">
      <h2>Spezielle Informationen zu Verfahren gegen die Schufa</h2>
      <p>Dr. Sven Tintemann und die von ihm gegründete Kanzlei AdvoAdvice Rechtsanwälte mbB führen verschiedene Gerichtsprozesse gegen die Schufa Holding AG sowie gegen Unternehmen, die Einträge bei Auskunfteien, wie der Schufa Holding AG, CRIF Bürgel, Arvato Infoscore oder der Creditreform Boniversum vornehmen.</p>

      <h3>Verfahren in Sachen Restschuldbefreiung vor dem EuGH</h3>
      <p>Dr. Sven Tintemann hat zwei Verbraucher vor dem Europäischen Gerichtshof (EuGH) zu den Aktenzeichen C-26/22 und C-64/22 vertreten. Die mündliche Hauptverhandlung fand hierzu am 26.01.2023 um 9.30 Uhr statt. Hierbei ging es um die Frage, über welchen Zeitraum die Schufa Holding AG das Merkmal der Restschuldbefreiung speichern darf.</p>
      <p>Hintergrund des Verfahrens waren Vorlagefrage des Verwaltungsgerichts Wiesbaden, bei welchem zwei Klagen gegen den Datenschutzbeauftragten des Landes Hessen verhandelt werden, in denen die Schufa Holding AG Beigeladene ist.</p>

      <img class="h-responsive-block" src="https://advoadvice.de/uploads/saal-bild.png" alt="Gerichtssaal">

      <p>Der Generalanwalt hat in dem Verfahren am 16.03.2023 seine Schlussanträge vorgelegt und liegt mit seiner Argumentation auf der Linie der <a href="https://www.anwalt.de/rechtstipps/eugh-generalanwalt-restschuldbefreiung-darf-maximal-sechs-monate-gespeichert-werden-210060.html" target="_blank">Argumentation der Kanzlei AdvoAdvice</a>, für die Dr. Tintemann vor dem EuGH tätig war. Die Entscheidung des EuGH steht noch aus. Oft folgt der EuGH den Schlussanträgen des Generalanwalts in seiner Argumentation.</p>
      <p>Betroffene können Sich bei der Kanzlei AdvoAdvice melden und ein <a href="https://advoadvice.de/anwalt-fuer/schufa-restschuldbefreiung/" target="_blank">kostenloses Formular</a> für einen Widerspruch gegen die Speicherung der Restschuldbefreiung herunterladen.</p>
      
      <h3>Verfahren in Sachen Restschuldbefreiung vor dem BGH</h3>
      <p>Auch vor dem Bundesgerichtshof (BGH) werden Verfahren zur Speicherung der Restschuldbefreiung verhandelt. Das Pilotverfahren, in welchem die Schufa Holding AG die Revision gegen eine Entscheidung des Oberlandesgerichts Schleswig vom 02.07.2012 eingelegt hatte, wurde im Februar 2023 verhandelt.</p>
      <p>Der BGH ließ in der mündlichen Verhandlung durchblicken, dass er mit seiner Entscheidung wohl auf die Entscheidung des EuGH warten werde. Am 28.03.2023 verkündete der BGH, dass er das Verfahren bis zu einer Entscheidung des EuGH aussetzen werde. Das war durch Rechtsanwalt Dr. Tintemann so erwartet worden.</p>
      
      <h3>Schufa reduziert Speicherfrist auf sechs Monate</h3>

      <p>Die Schufa reagierte bereits am 28.03.2023 auf den Beschluss des BGH und teilte mit, dass die Speicherfrist wegen der laufenden Gerichtsverfahren nunmehr von bisher drei Jahren auf eine Frist von sechs Monaten reduziert werde.</p>

      <p>Eine Stellungnahme hierzu hat Dr. Tintemann auf <a href="https://www.anwalt.de/rechtstipps/zeitenwende-bei-der-schufa-holding-ag-210516.html" target="_blank">Anwalt.de</a> veröffentlich.</p>

      <h3>Vorgehen und Klagen gegen eintragende Unternehmen</h3>
      <p>Dr. Tintemann ist bereits mehr als 15 Jahren im Bereich Schufa und Datenschutz tätig. Er hat bereits mehrere hundert Gerichtsverfahren gegen Unternehmen geführt, die Negativeinträge bei der Schufa Holding AG vorgenommen haben. Zu nennen sind hierbei u.a.:</p>

      <p>Banken:</p>
      <ul>
        <li>Advanzia Bank</li>
          <li>American Express</li>
          <li>Barclays Bank Ireland Branch PLC</li>
          <li>BNP Paribas</li>
          <li>Commerzbank</li>
          <li>Consors</li>
          <li>DKB AG</li>
          <li>Ferratum Bank</li>
          <li>Fidor Bank</li>
          <li>Hanseatic Bank</li>
          <li>IBB</li>
          <li>Ikano Bank</li>
          <li>IngDiBa</li>
          <li>Multitude Bank</li>
          <li>Novum Bank</li>
          <li>Postbank</li>
          <li>RCI Banque</li>
          <li>Santander Consumer Bank</li>
          <li>Sparkasse</li>
          <li>Targobank</li>
          <li>Vexcash</li>
          <li>Volksbank Dreieich</li>
          <li>Volkswagen Bank</li>
      </ul>

      <p>Telekommunikationsanbieter:</p>
      <ul>
        <li>Telefonica</li>
        <li>Telekom Deutschland GmbH</li>
        <li>Vodafone</li>
      </ul>

      <p>Inkasso-Firmen:</p>
      <ul>
        <li>Axactor</li>
        <li>Bad Homburger Inkasso</li>
        <li>CashControl</li>
        <li>COEO Inkasso</li>
        <li>Collectia</li>
        <li>Diagonal Inkasso</li>
        <li>First Debit</li>
        <li>FPM Inkasso</li>
        <li>Goldbach Inkasso</li>
        <li>Hoist Finance</li>
        <li>Intrum</li>
        <li>Paigo</li>
        <li>PNO Inkasso</li>
        <li>Proceed</li>
        <li>RatePay</li>
        <li>Sirius Inkasso</li>
        <li>Seghorn Inkasso</li>
        <li>Synergie Inkasso</li>
        <li>Tesch Inkasso</li>
        <li>Universum Inkasso</li>
        <li>Zyklop Inkasso</li>
      </ul>

      <p>Weitere Informationen zu den außergerichtlichen und gerichtlichen Erfolgen finden Sie unter <a href="www.advoadvice.de/blog">www.advoadvice.de/blog</a>.</p>

      <p><strong>Vorgehen zu Fragen beim Scoring</strong></p>
      <p>Ebenfalls beim EuGH wurden am 26.01.2023 Fragen zum Scoring verhandelt. Hier wurde vor allem die Fragestellung behandelt, ob es sich beim Scoring der Schufa um ein automatisiertes Profiling handelt und ob dieses nach der Datenschutzgrundverordnung (DSGVO) unzulässig ist.</p>
      
      <p>Auch zu dieser Thematik hat der Generalanwalt am EuGH am 16.03.2023 seine Schlussanträge veröffentlicht. Eine Entscheidung steht auch in dieser Angelegenheit noch aus.</p>

      <p>Dr. Tintemann und das Team der Kanzlei AdvoAdvice Rechtsanwälte berät Mandanten auch gerne im <a href="https://advoadvice.de/anwalt-fuer/schufa-score-verbessern/" target="_blank">Bereich des Scorings</a>. Da sich hier momentan in der Rechtsprechung viel tut, ist es wichtig, hierbei erfahrene Experten wie Dr. Tintemann als Ratsuchender an seiner Seite zu haben.</p>
    </section>
  
    <section id="ablauf" class="ablauf h-container--sm">
      <p class="ablauf__title h6 editable">Wie läuft das ganze ab?</p>
  
      {% for item in page.ablauf %}
        <div class="ablauf__item">
          <div class="ablauf__number">{{ forloop.index }}</div>
          <div class="ablauf__text">{{ item | markdownify }}</div>
        </div>
      {% endfor %}
  
      <footer>
        <a class="button button--cta editable" href="#kontakt">Gespräch vereinbaren</a>
      </footer>
    </section>
  
    <section id="downloads" class="formulare h-container--sm">
      <div class="formulare__link"><a href="#formulare" class="editable">Download Formulare</a></div>
      
      <div class="modal" id="formulare">
        <a class="modal__exit" href="#downloads"></a>
        <div class="modal__box">
          <header>
            <h4 class="editable">Download Formulare</h4>
          </header>
          <ul>
            {% for formular in site.data.formulare %}
            <li><a href="{{ formular.datei_path | prepend: site.url }}" target="_blank">{{formular.title}}</a></li>
          {% endfor %}
          </ul>
          <footer>
            <a href="#downloads" class="button">Schließen</a>
          </footer>
        </div>
      </div>
    </section>
  </main>

</div>

<!-- FOOTER -->
<footer class="page__footer"> 
  <div id="kontakt" class="h-container">

    <div class="footer__einleitung h-container--sm">
      <img class="kontakt__portrait editable" src="{{site.url}}/uploads/0-layout/kontakt-tintemann.png" alt="Dr. Tintemann - Kleines Portrait">
      <p class="h4 editable">
        Nehmen Sie noch jetzt Kontakt auf! 
      </p>
      <p class="editable">Wir beraten Sie gerne bei Ihrem Anliegen und geben Ihnen ganz <strong>kostenlos</strong> und <strong>unverbindlich</strong> eine erste Einschätzung.</p>
    </div>

    <div class="footer__kontakt">
      <div class="footer__form">
        {% include kontakt_formular.html id="2" %}
      </div>

      <div class="footer__anschrift">
        <p class="editable">
          Telefon: 030 - 921 000 40 <br />
          Telefax: 030 - 921 000 410 <br />
          E-Mail: info@advoadvice.de
        </p>
        <h4 class="editable">Anschrift</h4>
        <p class="editable">Kaiserliches Postamt<br />Martin-Buber-Str. 24<br />14163 Berlin</p>
        <h4 class="editable">Sprechzeiten</h4>
        <p class="editable">Mo - Fr&nbsp; 09.00 Uhr - 13.00 Uhr sowie 14.00 Uhr - 17.00 Uhr<br />Termine nach Vereinbarung</p>

        <div class="footer__legal">
          <a href="{{site.url}}/impressum/" class="editable">Impressum</a>
          &nbsp;&#183&nbsp;
          <a href="{{site.url}}/datenschutz/" class="editable">Datenschutzerklärung</a>
        </div>
      </div>
    </div>

  </div>
</footer>