---
# Frontmatter required for this file to be transformed by Jekyll
---
@charset "utf-8";

// Constants
$clr-primary:             #244c5a;
$clr-secondary:           #7ba7bc;
$clr-text:                #081114;
$clr-highlight:           #A80874;
$clr-highlight-2:         #B7FDFE;

$clr-primary-2:           rgba(36, 76, 90, 0.2);
$clr-secondary-2:         rgba(123, 167, 188, 0.2);

$clr-bg:                  white;
$clr-transparent-wh-1:    rgba(255,255,255,0.1);
$clr-transparent-wh-7:    rgba(255,255,255,0.7);
$clr-transparent-wh-8:    rgba(255,255,255,0.8);
$clr-transparent-bl-1:    rgba(0,0,0,0.07);
$clr-transparent-bl-3:    rgba(0,0,0,0.3);
$clr-transparent-bl-7:    rgba(0,0,0,0.7);
 
$font-family--text:       'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;      
$font-family--title:      'Tinos', "Georgia", serif;
$font-size:               16px;
 
$media-sm:                567px;
$media-md:                850px;
$media-lg:                1024px;

$transition-time-1:       .3s;
$transition-time-2:       .8s;

$max-width:               1200px;
$max-width--md:           1000px;
$max-width--sm:           820px;
$max-width-padding:       1220px;
$spacing-1:               20px;

$shadow:                  0 5px 10px $clr-transparent-bl-3;

@import
  "reset",
  "plugins",
  "helpers",
  "global",
  "layout",
  "components/article",
  "components/crm_kontakt_formular",
  "pages/home",
  "pages/topic",
  "pages/blog",
  "pages/post",
  "pages/simple_page",
  "pages/legacy_schufa_beratung"
;