---
layout: default
style_id: blog
title: AdvoAvice Blog
description: Blogartikel von erfahrenen Rechtsanwälten zu Themen wir Bank- und Kapitalmarktrecht, Insolvenzrecht, Schufa- und Datenschutzrecht und Immobilienrecht.
such_tips: 
  - Schufa
  - Immobilien
  - Kapitalmarkt
  - Versicherung
  - Presse
---

<header class="h-container">
  <h1>Blog</h1>

  <input id="blog__suche" class="suche" type="text" placeholder="Suche ...">

  <nav class="suche__suggestions">
    <strong>Vorschläge: </strong><br>
    {% for suggestion in page.such_tips %}
      <a href="#" class="suche__suggestion">{{suggestion}}</a>
      {% unless forloop.last %}
        <span>&nbsp;&#183&nbsp;</span>
      {% endunless %}
    {% endfor %}
  </nav>
</header>

<main>
  <section class="h-container wrapper--articles active">
    <h2 class="blog__h h6">Aktuelle Artikel</h2>

    <div class="articles">
      {% for article in paginator.posts %}
        {% include article.html article=article %}
      {% endfor %}
    </div>

    <!-- Pagination Links -->
    <nav>
      <ul class="pager">
        {% if paginator.previous_page %}
          <li class="pager__prev">
            <a href="{{ paginator.previous_page_path }}">
              <span aria-hidden="true">&larr;</span><span class=""> Neue Beiträge</span>
            </a>
          </li>
        {% endif %}

        <li class="pager__numbers">
          {% for page in (1..paginator.total_pages) %}
          {% assign threeBefore = paginator.page | minus: 4 %}
          {% assign threeAfter = paginator.page | plus: 4 %}

          {% if page == paginator.page %}
            <span class="pager__placeholder">{{ page }}</span>
          {% elsif page == 1 %}
            <a href="{{ '/blog/' | prepend: site.url }}">{{ page }}</a>
          {% elsif page == paginator.total_pages %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
          {% elsif page == threeAfter %}
            <span class="pager__placeholder">...</span>
          {% elsif page == threeBefore %}
            <span class="pager__placeholder">...</span>
          {% elsif page >= threeAfter %}
            <!-- nothing -->
          {% elsif page <= threeBefore %}
            <!-- nothing -->
          {% else %}
            <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}
        </li>

        {% if paginator.next_page %}
          <li class="pager__next">
            <a href="{{ paginator.next_page_path }}">
              <span class="">Ältere Beiträge</span> <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </section>
  <section class="h-container wrapper--search">
    <h2 class="blog__h h6">Suchergebnisse</h2>
    <div class="articles"></div>
  </section>
</main>