---
_options:
  layout:
    hidden: true
title: Blog
layout: page
---

<div class="row">
  <!-- BLOG POSTS -->
  <section id="blog" class="col-md-8 col-lg-9 margin-tb-20">
    {% for post in paginator.posts %}
      <article class="blog-post">
        <h1 class="padding-20">
          <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        </h1>
        <div class="padding-20">
          {{post.content | strip_html | truncatewords: 40}}<br><br>
          <a href="{{ post.url | prepend: site.baseurl }}" class="editable"><b>Weiterlesen ...</b></a>
        </div><!-- post.body -->
        {% assign author_id = "/authors/" | append: post.author %}
        {% assign author = site.authors | where: "id", author_id | first %}
        <small>- {{post.date | date: "%d. %B %Y" }} :: {{author.name}}</small>
      </article>
    {% endfor %}

    <!-- Pagination links -->
    <nav>
      <ul class="pager">
        {% if paginator.previous_page %}
          <li class="previous">
            <a href="{{ paginator.previous_page_path }}">
              <span aria-hidden="true">&larr;</span><span class="hidden-xs"> Neue Beiträge</span>
            </a>
          </li>
        {% endif %}
        {% if paginator.next_page %}
          <li class="next">
            <a href="{{ paginator.next_page_path }}">
              <span class="hidden-xs">Ältere Beiträge</span> <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </section>

  <!-- SIDEBAR -->
  {% include sidebar.html %}
</div><!-- row -->
