/*
- Header
- Header CTA
- Anwälte
*/

.page__landing {
  // Header

  .header__title,
  header {
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
  }

  .header__title {   
    color: $clr-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;

    h1 { margin-bottom: 0; }
    h2 { margin-top: 0; }
  }

  @media(min-width: $media-lg){
    header {
      margin-bottom: 60px; // same as -margin of .header__cta
    }
    .header__wrapper {
      max-width: $max-width;
      margin: auto;
      display: flex;
      align-items: center;
    }
  }

  // Header CTA 
  .header__cta {
    background-color: $clr-bg;
    padding: 20px;

    @media(min-width: $media-lg){
      padding: 40px;

      width: 460px;
      margin-top: 60px;
      margin-bottom: -60px;

      box-shadow: $shadow;
    }
  }

  .header__cta__top {
    p.h4 { margin: 0; }
    .header__cta__subtitle {
      clear: both;
    }

    .kontakt__portrait {
      border-radius: 50%;
      height: 60px;
      margin-right: 20px;
      margin-bottom: 20px;

      float: left; 
    }
  }

  .header__cta form {
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    input[type="date"],
    textarea,
    label {
      display: block;
      width: 100%;
      margin-bottom: 20px
    }
  }

  // Team / Anwälte

  // Anwälte

  .anwaelte__title {
    margin: 40px 0 60px;
    text-align: center;
  }

  @media(min-width: $media-sm){
    .anwaelte {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .anwalt {
    padding: 0 20px 40px;

    @media(min-width: $media-sm){
      flex: 1 0 50%;
    }
    
    @media(min-width: $media-lg){
      flex: 1 0 25%;
    }
  }

  .anwalt__portrait {
    height: 330px; 
    width: 205px;
    margin: auto;
    background-position: center;
    background-size: cover;

    position: relative;
  }
  .anwalt__portrait__frame {
    position: absolute;
    z-index: -1;

    background-color: $clr-primary;
    bottom: 15px;
    left: -15px;
    right: 15px;
    top: -15px;

    transition: transform $transition-time-2 ease-in;
  }
  .anwalt__portrait:hover .anwalt__portrait__frame {
    transform: scale(1.05);
  }
  .anwalt:nth-of-type(even) .anwalt__portrait__frame{
    background-color: $clr-secondary;
    bottom: -10px;
    left: 15px;
    right: -15px;
    top: 15px;
  }
  .anwalt__text {
    max-width: 230px;
    margin: auto;

    h4 {margin-bottom: 0;}
    p {margin-top: 0;}
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
