.topic__body {
  img { 
    max-width: 100%; 
    margin: auto;
  }
}

.topicCta__box {
  background-color: #C0EBFF;
  padding: 30px;

  a {
    background-color: #244c5a;
    color: white;
    padding: 10px;
    display: inline-block;

    &:hover { background-color: #7ba7bc; }
  }
}
