.h-container {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  
  padding-left: $spacing-1;
  padding-right: $spacing-1;
}
.h-container--md {
  max-width: $max-width--md;
  margin-left: auto;
  margin-right: auto;
  
  padding-left: $spacing-1;
  padding-right: $spacing-1;
}
.h-container--sm {
  max-width: $max-width--sm;
  margin-left: auto;
  margin-right: auto;
  
  padding-left: $spacing-1;
  padding-right: $spacing-1;
}

.h-visible-sm {
  display: none;
  @media(min-width: $media-sm){
    display: initial;
  }
}
.h-visible-md {
  display: none;
  @media(min-width: $media-md){
    display: initial;
  }
}
.h-visible-lg {
  display: none;
  @media(min-width: $media-lg){
    display: initial;
  }
}
.h-center { text-align: center; }