---
layout: page
---

<div class="row">
  <section id="blog" class="col-md-8 col-lg-9 margin-tb-20">
    <a href="/blog">< Zurück zum Blog</a>
    <article class="blog-post">
      <h1 class="padding-20">
        {{page.title}}
      </h1>
      <div class="padding-20">
        {{ content }}
      </div><!-- post.body -->
      {% if page.tags %}
        <div class="tags margin-20">
          <i class="glyphicon glyphicon-tags small"></i>&nbsp;&nbsp;
          {% for tag in page.tags %}
            <span>{{tag}}</span>
          {% endfor %}
        </div>
      {% endif %}
      {% assign author_id = "/authors/" | append: page.author %}
      {% assign author = site.authors | where: "id", author_id | first %}
      <small>- {{page.date | date: "%d. %B %Y" }} :: {{ author.name }}</small>
    </article>

    {% include related_posts.html %} 
  </section>

  <!-- SIDEBAR -->
  {% include sidebar.html %}
</div><!-- row -->
