---
layout: default
---
<header id="themen">
  <div class="nav-spacer">
    <nav id="navigation" class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="a-scroll navbar-logo" href="/">
            <img src="/uploads/images/logo-bw-small.png" />
          </a>
          <div class="text-center">
            <a href="/" class="navbar-toggle collapsed btn btn-default" aria-expanded="false">
              <span class="editable">Lernen Sie uns kennen</span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </a>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <a class="a-scroll cta cta-nav editable" href="/">Lernen Sie uns kennen</a>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div><!-- / nav-spacer -->
</header>

<main class="container">
  {{ content }}
</main>
