<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <header id="themen">
      <div class="nav-spacer">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="a-scroll navbar-logo" href="https://advoadvice.de/">
                <img src="https://advoadvice.de/uploads/images/logo-bw-small.png" />
              </a>
              <div class="text-center">
                <a href="https://advoadvice.de/" class="navbar-toggle collapsed btn btn-default" aria-expanded="false">
                  <span class="editable">Lernen Sie uns kennen</span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </a>
              </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <a class="a-scroll cta cta-nav editable" href="https://advoadvice.de/">Lernen Sie uns kennen</a>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div><!-- / nav-spacer -->
    </header>

    <main>
      {{ content }}
    </main>

    <a class="call-cta" href="tel:+493092100040"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></a>
    <footer class="margin-20">
      <section class="lastfooter padding-20 text-center">
        <a href="https://advoadvice.de/" class="editable">Webseite</a> | <a href="https://advoadvice.de/impressum" class="editable">Impressum</a> | <a href="https://advoadvice.de/datenschutz" class="editable">Datenschutzerklärung</a>
      </section>
    </footer>
    {% include javascripts.html %}
  </body>

</html>
