---
layout: default
---

<header>
  <h1>{{page.header_titel}}</h1>
</header>

<main>
  <nav>
    <ul>
      {% for abschnitt in page.abschnitte %}
        <li><a href="#{{abschnitt.link}}">{{abschnitt.titel}}</a></li>
      {% endfor %}
    </ul>
  </nav>

  <section>
    <p>Erfolge</p>

    {% for erfolg in page.erfolge %}
      <div>
        <span class="h1">{{erfolg.zahl}}</span>
        <br>
        <span>{{erfolg.text}}</span>
      </div>
    {% endfor %}
  </section>


  {% for abschnitt in page.abschnitte %}
    <section>
      <h2 id="{{abschnitt.link}}">{{abschnitt.titel}}</h2>
      <div>{{abschnitt.text_block}}</div>
    </section>
  {% endfor %}
</main>