---
layout: html_head_body
style_id: home
sitemap: false
title: Zehlendorf Anwalt
description: Erfahrene Rechtsanwälte für Immobilienrecht, Versicherungsrecht, Bank- und Kapitalmarktrecht. 
canonical_url: http://zehlendorf-anwalt.de
hauptthemen: 
  - titel: Bank- und Kapitalmarktrecht
    beschreibung: Professionelle, rechtliche Beratung zu Fragen rund um Kapitalanlagen. Wir beraten Sie außerdem im Umgang mit Banken oder verteidigen Sie und Ihre Finanzen bei Falschberatung. 
    topic: bank-und-kapitalmarkt
    icon_path: /assets/icons/icon-bank.svg
  - titel: Immobilienrecht
    beschreibung: Sichern Sie sich rechtlich ab, wenn es um den Kauf oder die Vermietung von Immobilien geht. Gerne beraten wir Sie auch bezüglich Zweckentfremdung.
    topic: immobilien
    icon_path: /assets/icons/icon-immobilien.svg
nebenthemen:
  - titel: Versicherungsrecht
    topic: versicherung
  - titel: Suchergebnisse und Bewertungen löschen
    topic: suchergebnisse-und-bewertungen-loeschen
  - titel: Kredit widerrufen / Dieselskandal
    topic: kredit-widerrufen
  - titel: Schufa- & Datenschutzrecht
    topic: schufa-und-datenschutz
  - titel: Insolvenzrecht
    topic: insolvenz
ablauf: 
  - Als Erstes treten Sie mit uns [telefonisch](tel:+493092100040) oder per [email](mailto:info@advoadvice.de) in Kontakt und schildern uns Ihr Anliegen. 
  - Wir nehmen kostenlos und unverbindlich meist telefonisch Kontakt mit Ihnen auf, um Ihren Fall zu besprechen.
  - Nach dem Erstgespräch senden Sie uns Dokumente und [Formulare](#formulare) zu Ihrem Fall zu, sodass wir uns ein detailiertes Bild machen können.
  - Wir schicken Ihnen ein Angebot und Vorschlag zum weiteren Vorgehen. Wenn Sie eine Rechtschutzversicherung haben, stellen wir eine Deckungsanfrage. Andernfalls senden wir Ihnen Informationen zu den Rechtsanwaltsgebühren zu.
  - Wenn Sie mit unserem Vorgehen einverstanden sind, erteilen Sie uns einen konkreten Auftrag durch das Übersenden unserer Mandatsunterlagen.
  - Nach Eingang der Mandatsunterlagen bei uns, legen wir eine Akte an und bearbeiten Ihren Fall.
---

<nav class="page__nav">
  <div class="nav__wrapper">
    <div class="nav__logo">
      <a href="{{site.url}}#">
        <img src="{{ '/uploads/1-layout-standalone/logo-postamt-1.png' | prepend: site.url }}" alt="AdvoAdvice - Logo mit Text" />
      </a>
    </div>
    <div class="nav__spacer">
      <button class="hamburger hamburger--spring" type="button" aria-label="Open Main Naviagion" aria-hidden="true">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
    <div class="nav__menu">
      <ul>
        <li><a href="#themen">Unsere Themen</a></li>
        <li><a href="#anwaelte">Ihre Anwälte</a></li>
        <li><a href="#ablauf">Wie es abläuft</a></li>
        <li><a href="#kontakt"><strong>Kontakt</strong></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="page__nav__spacer"></div>

<!-- MAIN -->
<div class="page page__{{page.style_id}}">

  <header class="h-container--md">
    <div class="header__text">
      <h1 class="editable">
        Erfahrene Anw&auml;lte aus Berlin Zehlendorf
      </h1>
      <h3 class="editable">
        Kompetente Rechtsberatung vor Ort und unkompliziert.
      </h3>
      <a class="header__cta button button--cta editable" href="#kontakt--1">Gespräch vereinbaren</a>
    </div>
    <div class="header__image">
      <img src="{{ '/uploads/1-layout-standalone/partner-min-2.jpg' | prepend: site.url }}" alt="Zehlendorf Anwälte" class="editable" />
    </div>
  </header>

  <main>
    {% include referenzen.html %}
  
    <section id="themen" class="themen h-container">
      <p class="themen__title h6 editable">
        Unsere Themen
      </p>
  
      <div class="themen__haupt">
        {% for thema in page.hauptthemen %}
          <a href="{{site.url}}/themen/{{thema.topic}}" class="themen__block">
            <img src="{{thema.icon_path | prepend: site.url }}" alt="{{thema.titel}} Symbol" />
            <h2 class="h4">{{thema.titel}}</h2>
            <p>{{thema.beschreibung}}</p>
          </a>
        {% endfor %}
      </div>
  
      <hr />
  
      <div class="themen__neben">
        {% for thema in page.nebenthemen %}
          <a href="{{site.url}}/themen/{{thema.topic}}"><h3 class="h4">{{thema.titel}}</h3></a>
          {% unless forloop.last %}
            <span class="h-visible-md">&nbsp;&#183&nbsp;</span>
          {% endunless %}
        {% endfor %}
      </div>
    </section>
  
    <section class="kontakt--1">
      <div id="kontakt--1" class="kontakt__container h-container--md">
        <img class="kontakt__portrait editable" src="{{ '/uploads/0-layout/kontakt-klevenhagen.png' | prepend: site.url }}" alt="Kim Oliver Klevenhagen - Kleines Portrait" />
        <p class="h4 editable">
          Kontaktieren Sie uns noch jetzt!
        </p>
        <p class="kontakt__text--2 editable">
          Gerne melden wir uns bei Ihnen<strong>&nbsp;unverbindlich</strong> telefonisch oder per email f&uuml;r ein erstes Gespr&auml;ch.
        </p>
        
        
        {% include kontakt_formular.html id="1" %}
      </div>
    </section>
  
    <section id="anwaelte" class="h-container">
      <p class="anwaelte__title h6 editable">
        Ihre Experten
      </p>
  
      <div class="anwaelte">
        {% assign members = site.data.anwaelte | sort: 'reihenfolge' %}
        {% assign members_size = members | size %}
        {% for member in members %}
          <div class="anwalt">
            {% if members_size < 5 %}<div class="anwalt__spacer"></div>{% endif %}
            <div class="anwalt__portrait" style="background-image:url({{ member.portrait_path | prepend: site.url }})">
              <div class="anwalt__portrait__frame"></div>
            </div>
            <div class="anwalt__text">
              <h4>{{ member.name }}</h4>
              <p>
                {{member.titel}}
              </p>
              <!-- <p>
                <a href="mailto:{{member.email}}">{{member.email}}
              <p></p> -->
              <p>
                <small>
                  <strong>Themen:</strong>
                  {% for topic in member.themes %}
                    {% if topic.link %}
                      <a href="{{topic.link}}">{{topic.titel}}</a>
                    {% else %}
                      {{ topic.titel }}
                    {% endif %}
                    {%if forloop.last %}{% else %}&nbsp;&#183&nbsp;{%endif%}
                  {% endfor %}
                </small>
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  
    <section id="ablauf" class="ablauf h-container--sm">
      <p class="ablauf__title h6 editable">
        Wie l&auml;uft das ganze ab?
      </p>
  
      {% for item in page.ablauf %}
        <div class="ablauf__item">
          <div class="ablauf__number">{{ forloop.index }}</div>
          <div class="ablauf__text">{{ item | markdownify }}</div>
        </div>
      {% endfor %}
  
      <footer>
        <a class="button button--cta editable" href="#kontakt">Gespräch vereinbaren</a>
      </footer>
    </section>
  
    <section id="downloads" class="formulare h-container--sm">
      <div class="formulare__link"><a href="#formulare" class="editable">Download Formulare</a></div>
      
      <div class="modal" id="formulare">
        <a class="modal__exit" href="#downloads"></a>
        <div class="modal__box">
          <header>
            <h4 class="editable">
              Download Formulare
            </h4>
          </header>
          <ul>
            {% for formular in site.data.formulare %}
            <li><a href="{{ formular.datei_path | prepend: site.url }}" target="_blank">{{formular.title}}</a></li>
          {% endfor %}
          </ul>
          <footer>
            <a href="#downloads" class="button">Schließen</a>
          </footer>
        </div>
      </div>
    </section>
  </main>

</div>

<!-- FOOTER -->
<footer class="page__footer"> 
  <div id="kontakt" class="h-container">

    <div class="footer__einleitung h-container--sm">
      <img class="kontakt__portrait editable" src="{{ '/uploads/0-layout/kontakt-tintemann.png' | prepend: site.url }}" alt="Dr. Tintemann - Kleines Portrait" />
      <p class="h4 editable">
        Nehmen Sie noch jetzt Kontakt auf!
      </p>
      <p class="editable">
        Wir beraten Sie gerne bei Ihrem Anliegen und geben Ihnen ganz <strong>kostenlos</strong> und <strong>unverbindlich</strong> eine erste Einsch&auml;tzung.
      </p>
    </div>

    <div class="footer__kontakt">
      <div class="footer__form">
        {% include kontakt_formular.html id="2" %}
      </div>

      <div class="footer__anschrift">
        <p class="editable">
          Telefon: 030 - 921 000 40<br />Telefax: 030 - 921 000 410<br />E-Mail: info@advoadvice.de
        </p>
        <h4 class="editable">
          Anschrift
        </h4>
        <p class="editable">
          Kaiserliches Postamt<br />Martin-Buber-Str. 24<br />14163 Berlin
        </p>
        <h4 class="editable">
          Sprechzeiten
        </h4>
        <p class="editable">
          Mo - Fr&nbsp; 09.00 Uhr - 13.00 Uhr sowie 14.00 Uhr - 17.00 Uhr<br />Termine nach Vereinbarung
        </p>

        <div class="footer__legal">
          <a href="{{ '/impressum' | prepend: site.url }}" class="editable">Impressum</a>
          &nbsp;&#183&nbsp;
          <a href="{{ '/datenschutz' | prepend: site.url }}" class="editable">Datenschutzerklärung</a>
        </div>
      </div>
    </div>

  </div>
</footer>